div.main{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
}
div.main1{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
}

div.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    float: left;
    margin-top: 5px;
    
}
div.sub1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    float: left;
   margin-top: 5px;
}

strong{
    vertical-align: top;
}

input{
    height: 35px;
    border-radius: 12px;
}

button{
    height: 25px;
    border-radius: 8px;
    background-color: rgb(202, 191, 175);
}
button:hover{
    background-color: rgb(218, 212, 205);
}