body{
    background-color: azure;
}
div.heading{
    font-size: 38px;
    text-align: center;
    font-style: oblique;
}

div.name{
    background-color: bisque;
    width: 450px;
    height: 520px;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    left: 250px;
    top: 0px;
    display: inline-block;
}
.input{
    border-color: rgb(155, 90, 64);
    width: 100%;
    height: 50px;
    border-radius: 12px;
    
    margin: 10px 0px;
    border-color: rgb(155, 90, 64);
}

.text{
    border-radius: 8px;
    margin: 10px 0px;
    width: 100%;
}

button{
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    position: relative;
    left: 380px;
    transition-duration: 0.3s;
}
button:hover{
    background-color: coral;
    color: white;
}

div.address{
    background-color: rgb(64, 204, 247);
    height: 540px;
    width: 400px;
    border-radius: 8px;
    position: relative;
    right: 165px;
    float: right;
    margin: 10px;
    padding: 10px;
}
p{
    margin: 0px; 
    font-size: 20px; 
}

div.image{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0px 10px 0px 0px;
}

div.contact{
    height: 50px;
    width: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

div.sub{
    position: relative;
    top: 100px;
}
strong{
    font-size: 20px;
}
